*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column  ;
}
.navbar-1{
    height: 30vh;
    width: 100%;
background-color: brown;
}
.navbar-1 nav ul{
    padding: 5vw 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
.navbar-1 nav ul li{
    border-radius: 5px;
    padding: 1vw 2.5vw;
    list-style: none;
    color: white;
    font-size: 1.5vw;
    position: relative;
}
nav li::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: aqua;
    transition: 0.3s ease-in-out;
    transform: scaleX(0);
}
nav li:hover::after{
    transform: scaleX(1);

}

#login-btn{
    border: none;
    border-radius: 5px;
    padding: 1vw 2.5vw;
    font-size: 1.5vw;   
    cursor: pointer;
}
#login-btn:hover{
    background-color: blue;
    color: white;
}

