*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;

}

.container{
display: flex;
align-items: center;
justify-content: center;
margin: 2vw 0vw;
flex-wrap: wrap;
    height: 100%;
    width: 100%;
    gap: 3vw;
}
.items{
background-color: brown;
height: 70%;
display: flex;
align-items: center;
justify-content: center;
width: 40%;
}
.card-1{
    height: 90%;
    width: 70%;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5vw;
    flex-direction: column;
    background-color: rgb(217, 216, 216);
    padding-bottom: 2vw;
}
.card-1 .image{
    height:70%;
width: 80%;
/* background-color: rgb(10, 101, 101); */

}
.card-1 .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    

}
h3{
    text-align: center;
    width: 70%;
    font-size: 0.8vw;
}
form{
    margin-top: 1vw;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form input{
    height: 40px;
    width: 40%;
 background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    border-radius: 20px;
}
.card-2{
    height: 90%;
    width: 70%;
    border-radius: 1vw;
    display: flex;
    align-items: center;
 gap: 1vw;
    padding-top: 0.5vw;
    flex-direction: column;
    background-color: rgb(217, 216, 216);
    padding-bottom: 2vw;
}
.card-2 .image{
    height: 50%;
    object-fit: cover;
    width: 70%; 
}
.card-2 img{
    height: 100%;
    width: 100%;
}
.card-2  .main-container{
    border-top: 1px solid black;
}
.card-2  .main-container h2{
    font-size: 1.5vw;
}
.color-prize{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.colors{
display: flex;
}
.colori{
height: 20px;
width: 20px;
border-radius: 50%;
margin-right: 5px;

}
.one{
background: #0077ff;
}
.two{
background-color: brown;
}
.three{
background-color: rgb(255, 153, 0);
}
.four{
background-color: black;
}
h4{
    color: rgb(214, 31, 31);
    font-size: 1.6vw;
}
.card-2 button{
    height: 40%;
  padding: 1vw;
  border: none;
  color: white;
  background-color: rgb(218, 20, 20);
  border-radius: 5px;
}